# Copy this directory to modules/<module-id> and rename this file to module.env
EMS_MODULE_ID=sample-module
EMS_MODULE_NAME=Sample Module
EMS_MODULE_DESCRIPTION=Example drop-in module for EMS IPAM
EMS_MODULE_ICON=+
EMS_MODULE_DEFAULT=OFF
EMS_MODULE_ENV_FLAG=EMS_MODULE_SAMPLE_MODULE_ENABLED
EMS_MODULE_UPSTREAM=http://sample-module:8090
EMS_MODULE_COMPOSE=compose.module.yml
